<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.innorussian">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home_fragment.phrasebook.topic.AddNewWord" />
        <activity
            android:name=".home_fragment.phrasebook.topic.TopicActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".home_fragment.phrasebook.topic.QRCodeImageActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".settings_fragment.account.LogInActivity" />
        <activity android:name=".settings_fragment.account.RegisterActivity" />
        <activity android:name=".settings_fragment.account.MyAccountActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".learn_fragment.learn_topics.LearnTopicsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".home_fragment.phrasebook.topic.phrases.PhrasesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".learn_fragment.quiz.activities.StudyQuizActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".learn_fragment.quiz.activities.StudyQuizResultActivity" />
        <activity android:name=".learn_fragment.quiz.activities.InfinitePracticeActivity" />
    </application>

</manifest>